@inject NavigationManager NavigationManager

<MudNavMenu Class="mudblazor-navmenu">
    <div class="docs-nav-fader"></div>
    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Calculate" HREF="/">How much
        left?
    </MudNavLink>
    <MudNavLink Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Edit" Href="/edit-recipes">Edit
        recipes
    </MudNavLink>
</MudNavMenu>